$border-color: #959E9E;
$shade: #DDD;
$title-color: white;

.preview-container {
  display: flex;
  flex: 1;
  margin: 0 1em;
  background:rgba(255,255,255,0.2);
  border-radius: 4px;

  .preview-title {
    flex: 1 10%;
    font-size: 1em;
    color: $title-color;
    font-style:italic;
    padding-left: 5px;
    padding-right: 15px;

  }

  .preview-pane {
    flex: 1 50em;
    padding: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background:rgba(255,255,255,0.7);
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: 0 0 20px $shade;
    }
}
