$border-color: #959E9E;
$shade: #5D5C5C;

.preview-container {
  display: flex;
  flex: 1;
  margin: 0 1em;
  background:rgba(255,255,255,0.2);

  .preview-title {
    flex: 1 10%;
    font-size: 1em;
    padding-right: 15px;
  }

  .preview-pane {
    flex: 1 50em;
    padding: 15px;
    margin-top: 15px;
    background:rgba(255,255,255,0.5);
    border: 1px solid $border-color;
    box-shadow: 0 0 20px $shade;
    flex: 1 80%;
    }
}
