$titlecolor: #000;
$titlefont: 'helvetica';

.App {
  display: flex;
  flex-flow: row wrap;
}

.title {
  font-family: $titlefont, sans-serif;
  flex: 1 1000em;
  font-size: 1em;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid $titlecolor;
}
