
.markdown-container {
  display: flex;
  flex: 1;
  margin: 0 1em;

  .markdown-title {
    flex: 1 10%;
    font-size: 1em;
  }

  .text-pane {
    flex: 1 50em;
    display: flex;
    flex-flow: column;
    padding: 15px;

  }

  .text-area {
    flex: 1 50vh;
  }

}




