$bordercolor: #000;
$shade: #5D5C5C;


.preview-container {
  margin: 0 1em;
  display: flex;
  flex: 1;
  border: 1px solid $bordercolor;
  width: 400px;
  height: 100%;
}

.preview-pane {
  padding: 10px;
}
